body{
    background-color: black;
}
h1{
    color: white;
}
.ball-1, .ball-2, .ball-3, .ball-4, .ball-5, .ball-6{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    margin:  0 auto;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    color: white;

    transition: width 0.3s ease-out, height 0.3s ease-out, background-color 0.3s;
    cursor: pointer;
}
.ball-1{
    background-color: blueviolet;
}
.ball-2{
    background-color: rgb(255, 255, 79);
    margin-top: 10px;
}
.ball-3{
    background-color: rgb(255, 79, 226);
    margin-top: 10px;
}
.ball-4 {
    background-color: #3cdce7; 
    margin-top: 10px;
}
.ball-5 {
    background-color: #53e73c; 
    margin-top: 10px;
}
.ball-6{
    background-color: #ffffff; 
    margin-top: 10px;
    color: black;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(1);
}